* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.icon-max {
    max-width: 90px;
    width: 50%;
}

.section-one {
    background-repeat: no-repeat;
    min-width: 100%;
    background-image: url("/FE-ducati/images/47-477059_ducati-bikes-wallpapers-4k.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: black 0.3em 0.3em 0.4em;
}

.h4.text-center.p-4.p-sm-5 {
    padding: 500px;

}

.img-fluid {
    aspect-ratio: 2/1;
    object-fit: contain;
    width: clamp(600px, 600vw, 1000px);
}

/* login Form */
form {
    border: 3px solid #746b6b;
    text-align: left;
    color: white;
    display: inline-block;
    margin: auto;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 5px 10px;
    margin: 10px 0;
    display: inline;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-form-container {
    padding: 16px;
    width: 100%;
}

span.pass {
    float: right;
    padding-top: 16px;
    color: black;
}

.form-container {
    display: block;
}

.products-container{
    color: white;
    text-align: center;
}

.bike-container{
    color: white;
}

.bike-name{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2)
}

.table{
    color: white;
}
