* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.icon-max {
    max-width: 90px;
    width: 50%;
}

.section-one {
    background-repeat: no-repeat;
    min-width: 100%;
    background-image: url("/FE-ducati/images/47-477059_ducati-bikes-wallpapers-4k.jpg");
    background-size:cover;
    background-position:center;
}
.h4.text-center.p-4.p-sm-5{
    padding: 500px;

}
.img-fluid{
   aspect-ratio: 2/1;
   object-fit: contain;
   width: clamp(600px, 600vw, 1000px);
}

/* login Form */
form {border: 3px solid #746b6b; text-align: left; display:inline-block;   color:white; }
input[type=text], input[type=password] {
    width: 100%;
    padding: 5px 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .login-form-container {
    padding: 16px;
  }

  span.pass {
    float: right;
    padding-top: 16px;
    color: black;
  }