* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.icon-max {
    max-width: 90px;
    width: 50%;
}

.section-one {
    background-repeat: no-repeat;
    min-width: 100%;
    background-image: url("/FE-ducati/images/47-477059_ducati-bikes-wallpapers-4k.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: black 0.2em 0.3em 0.2em;
}

.h4.text-center.p-4.p-sm-5 {
    padding: 500px;

}

.img-fluid {
    aspect-ratio: 2/1;
    object-fit: contain;
    width: clamp(600px, 600vw, 1000px);
}

/* login Form */
form {
    border: 3px solid #746b6b;
    text-align: left;
    color: white;
    display: inline-block;
    margin: auto;
    border-radius: var(--border-radius);
    
}

.form-title{
    margin: 1rem;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 5px 10px;
    margin: 10px 0;
    display: inline;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-form-container {
    padding: 16px;
    width: 100%;
}

span.pass {
    float: right;
    padding-top: 16px;
    color: black;
}

.form-container {
    display: block;
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    /* margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-size: cover; */
}
#para{
    margin: 0;
}
.products-container{
    color: white;
    text-align: center;
}

.bike-container{
    color: white;
}

.bike-name{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2)
}

.table{
    color: white;
}

.form__input{
    background: #dad9d9;
    border-radius: var(--border-radius);
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus{
    background: #ffffff;
}

.form__message--success {
    color: var(--color-success);
}

.form_message-error {
    color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form--hidden {
    display: none;
}

.form__link {
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}
